---
layout: default
---
<article itemscope itemtype='http://schema.org/Movie'>
{% for i in site.data.videos %}
  <header>
  		
	  <h2 itemprop='name'>{{ i.title }}</h2>
	  <time itemprop='uploadDate' content='{{ i.date }}'>
	    {{ i.date | date: '%d %B %Y'}}
	  </time>
	</header>
	<section class='video-wrapper'>
		<iframe src='http://www.youtube.com/embed/{{ i.youtube_id }}'
		        itemprop='embedUrl'
		        frameborder='0'
		        allowfullscreen >
		</iframe>
	</section>
	<section class='description' itemprop='description'>
  	{{ content }}
  </section>
  {% endfor %}
</article>
